__pycache__/
*.pyc
.idea/
.cache/
*.ast
*.cst
*.log
*.st
*.bcf
*.aux
*.toc
testdata/*.log
testdata/*.pdf
*~
*.old
DEBUG*
LOGS
**/LOGS/*
**/LOG*
**/REPORT/*
REPORT
external_resources/
tmp/*
test/tmp*
build
dist
MANIFEST
playground/*
DevScripts/DHParser.py
DHParser/cstringview.c
*.so
.mypy_cache
DHParser.egg-info
.noseids/
*.build
VERALTET
DHParser/stringview.c
*_ERRORS.txt
*_WARNINGS.txt
imperium.html
fascitergula.html
_build
_build
_static
_templates
OLDSTUFF
.pytest_cache
*.c
*.pyd
docs/*
**/node_modules
*.py.cfg
examples/LaTeX/testdata/*.xml
venv/*
