__pycache__/
*.pyc
.idea/
.cache/
*.ast
*.cst
*.log
*.st
*.bcf
*.aux
*.toc
testdata/*.log
testdata/*.pdf
*~
*.old
DEBUG*
LOGS
**/REPORT
external_resources/
tmp/*
test/tmp*
build
dist
MANIFEST
playground/*
DevScripts/DHParser.py
DHParser/cstringview.c
*.so
.mypy_cache
.vscode/
DHParser.egg-info
.noseids/
*.build
VERALTET
DHParser/stringview.c
*_ERRORS.txt
*_WARNINGS.txt
imperium.html
fascitergula.html
_build
examples/Tutorial/LyrikCompiler.py
_build
_static
_templates
.vs
OLDSTUFF
