include *.py
include *.txt
include *.md
include LICENSE.*
include test/run.py
recursive-exclude docs *
recursive-exclude DHParser *.c
recursive-exclude DHParser *.so
recursive-exclude DHParser *.pyd

include examples/EBNF/EBNF.ebnf
include examples/Tutorial/Lyrik.ebnf
include examples/Tutorial/recompile_grammar.py
include examples/Tutorial/Lyrisches_Intermezzo_IV.xml
include examples/Tutorial/Lyrisches_Intermezzo_IV.txt
recursive-exclude examples/CommonMark *
recursive-exclude examples/MLW *
recursive-exclude examples/Arithmetic *
recursive-exclude examples/ArithmeticRightRecursive *
recursive-exclude examples/BibTeX *
recursive-exclude examples/XMLSnippet *

recursive-include scripts *

recursive-exclude build *
recursive-exclude devscripts *
recursive-exclude dist *
recursive-exclude experimental *
recursive-exclude external_resources *

exclude .noseids
exclude buildpackages.bat
exclude buildpackages.sh
exclude upload.sh
exclude upload_test.sh


