include *.py
include *.txt
include *.md
include LICENSE.*
include MANIFEST.*
include *.sh
include *.cfg
include test/run.py
include examples/EBNF/EBNF.ebnf
include examples/Tutorial/Lyrik.ebnf
include examples/Tutorial/recompile_grammar.py
include examples/Tutorial/Lyrisches_Intermezzo_IV.xml
include examples/Tutorial/Lyrisches_Intermezzo_IV.txt
recursive-exclude examples/LaTeX *
recursive-exclude examples/CommonMark *
recursive-exclude examples/MLW *
recursive-exclude examples/Arithmetic *
recursive-exclude experimental *
recursive-exclude OLDSTUFF *
