body {font-family:Arial, Helvetica, sans-serif;
      font-size:10pt;
      background-color:#ffffff;
      margin-left:20px;
      margin-right:20px;
          }

body.name {background-image:url("logoband.jpg");
           background-repeat:no-repeat;
           margin-top:8px;
           margin-left:220px;
          }

body.rand { margin-left:0px;
            margin-right:0px;
            background-color:#ffffff;
          }

.verz {position:absolute;left:0px;top:20px;background-color:#ffffff;}

p,table,td,div,ol,ul,li,a
           {font-family:Arial,Helvetica,sans-serif; font-size:10pt;}


h1 {font-family:"Times New Roman",Times;
    font-size:15pt;
    letter-spacing:1pt; font-weight:normal;}
.kapital {font-size:18pt;}
.modern {font-family:sans-serif; font-size:12pt; font-weight:bold; }

.ueberstrich {position:absolute; top:16px; left:240px;}
.unterstrich {position:absolute; top:68px; left:240px;}


h1.rand { margin-top:0px; margin-bottom:0px;}

h2.alpha {font-size:15pt; color:#1E78DC;
          margin-top:0px; margin-bottom:0px;
          font-family:Arial,Helvetica, sans-serif;}

table.rand { margin-top:10px;
             margin-left:18px; }

h2 {font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:14pt;
    font-weight:normal;
    margin-top:4pt; margin-bottom:4pt;}

h2.kommission
   {font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:14pt;
    font-weight:normal;
    margin-top:0pt; margin-bottom:0pt;}


h3 {font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12pt; font-weight:bold;
    margin-top:4pt; margin-bottom:4pt;}
h4 {font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12pt; font-weight:bold;
    margin-top:4pt; margin-bottom:4pt;}
h5 {font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:10pt; font-weight:bold;
    margin-top:2pt; margin-bottom:2pt;}

.akl         {font-size:8pt;}
.agr         {font-size:12pt;}

.amehr       {font-size:8pt; font-weight:bold; text-align:right;}
.abild       {font-size:9pt; text-align:center;}
.aeinrueck   {margin-left:40px;}
.afett       {font-weight:bold;}
.akursiv     {font-style:italic;}
.ahinterlegt {background-color:#ffcc66;}
.arechts     {text-align:right;}
.adatum      {text-align:right; font-size:8pt;}
.alink       {color:#3399cc;}
.alink:hover {background-color:#ffffff;}
.alink:visited {color:#3399cc;}

a {text-decoration:none; color:#000000;}
a:visited {color:#000000;}
a:hover {background-color:#3399cc;}
a:active {color:#000000;}

a.logo:hover {background-color:#ffffff;}
