(Artikel
    (Optional
        (LEER)
    )
    (LemmaPosition
        (token__
            (RegExp
                "LEMMA"
            )
            (wsp__
                " "
            )
        )
        (Lemma
            (Optional
                (_tll
                    (RegExp
                        "*"
                    )
                )
            )
            (WORT_KLEIN
                (RegExp
                    "facitergula"
                )
                (wsp__
                    ""
                    ""
                    ""
                )
            )
        )
        (Optional
            (LemmaVarianten
                (token__
                    (RegExp
                        "VARIANTEN"
                    )
                    (wsp__
                        ""
                        "    "
                    )
                )
                (LVariante
                    (RegExp
                        "fasc-itergula"
                    )
                )
                (ZeroOrMore
                    (Sequence
                        (token__
                            (RegExp
                                ","
                            )
                            (wsp__
                                ""
                                "    "
                            )
                        )
                        (LVariante
                            (RegExp
                                "fac-iet-ergula"
                            )
                        )
                    )
                    (Sequence
                        (token__
                            (RegExp
                                ","
                            )
                            (wsp__
                                ""
                                "    "
                            )
                        )
                        (LVariante
                            (RegExp
                                "fac-ist-ergula"
                            )
                        )
                    )
                    (Sequence
                        (token__
                            (RegExp
                                ","
                            )
                            (wsp__
                                ""
                                "    "
                            )
                        )
                        (LVariante
                            (RegExp
                                "fa-rcu-tergula"
                            )
                        )
                    )
                )
                (Optional
                    (Sequence
                        (token__
                            (RegExp
                                ";"
                            )
                            (wsp__
                                ""
                                ""
                                "    "
                            )
                        )
                        (LVZusatz
                            (RegExp
                                "sim."
                            )
                            (wsp__
                                ""
                                ""
                                ""
                                ""
                            )
                        )
                    )
                )
            )
        )
        (GrammatikPosition
            (token__
                (RegExp
                    "GRAMMATIK"
                )
                (wsp__
                    ""
                    "    "
                )
            )
            (_wortart
                (token__
                    (RegExp
                        "nomen"
                    )
                )
            )
            (token__
                (RegExp
                    ";"
                )
                (wsp__
                    " "
                )
            )
            (Flexionen
                (Flexion
                    (RegExp
                        "-ar"
                    )
                    (wsp__
                        " "
                    )
                )
            )
            (Optional
                (_genus
                    (token__
                        (RegExp
                            "f."
                        )
                    )
                )
            )
            (ZeroOrMore
                (GrammatikVarianten
                    (token__
                        (RegExp
                            ";"
                        )
                        (wsp__
                            ""
                            ""
                            "    "
                        )
                    )
                    (GVariante
                        (Flexionen
                            (Flexion
                                (RegExp
                                    "-us"
                                )
                            )
                            (ZeroOrMore
                                (Sequence
                                    (token__
                                        (RegExp
                                            ","
                                        )
                                        (wsp__
                                            " "
                                        )
                                    )
                                    (Flexion
                                        (RegExp
                                            "-i"
                                        )
                                        (wsp__
                                            " "
                                        )
                                    )
                                )
                            )
                        )
                        (Optional
                            (_genus
                                (token__
                                    (RegExp
                                        "m."
                                    )
                                )
                            )
                        )
                        (token__
                            (RegExp
                                ":"
                            )
                            (wsp__
                                " "
                            )
                        )
                        (Verweis
                            (RegExp
                                ">>beleg_id_1"
                            )
                        )
                    )
                )
                (GrammatikVarianten
                    (token__
                        (RegExp
                            ";"
                        )
                        (wsp__
                            ""
                            "    "
                        )
                    )
                    (GVariante
                        (Flexionen
                            (Flexion
                                (RegExp
                                    "-um"
                                )
                            )
                            (ZeroOrMore
                                (Sequence
                                    (token__
                                        (RegExp
                                            ","
                                        )
                                        (wsp__
                                            " "
                                        )
                                    )
                                    (Flexion
                                        (RegExp
                                            "-i"
                                        )
                                        (wsp__
                                            " "
                                        )
                                    )
                                )
                            )
                        )
                        (Optional
                            (_genus
                                (token__
                                    (RegExp
                                        "n."
                                    )
                                )
                            )
                        )
                        (token__
                            (RegExp
                                ":"
                            )
                            (wsp__
                                " "
                            )
                        )
                        (Verweis
                            (RegExp
                                ">>beleg_id_2"
                            )
                            (wsp__
                                ""
                                ""
                                ""
                                ""
                            )
                        )
                    )
                )
            )
        )
    )
    (Optional
        (SchreibweisenPosition
            (token__
                (RegExp
                    "SCHREIBWEISE"
                )
                (wsp__
                    ""
                    "    "
                )
            )
            (SWTyp
                (token__
                    (RegExp
                        "script."
                    )
                )
            )
            (token__
                (RegExp
                    ":"
                )
                (wsp__
                    ""
                    "        "
                )
            )
            (SWVariante
                (Schreibweise
                    (token__
                        (RegExp
                            "vizreg-"
                        )
                    )
                )
                (token__
                    (RegExp
                        ":"
                    )
                    (wsp__
                        "      "
                    )
                )
                (Verweis
                    (RegExp
                        ">>beleg_id_3"
                    )
                )
            )
            (ZeroOrMore
                (Sequence
                    (token__
                        (RegExp
                            ","
                        )
                        (wsp__
                            ""
                            "        "
                        )
                    )
                    (SWVariante
                        (Schreibweise
                            (token__
                                (RegExp
                                    "festregel(a)"
                                )
                            )
                        )
                        (token__
                            (RegExp
                                ":"
                            )
                            (wsp__
                                " "
                            )
                        )
                        (Verweis
                            (RegExp
                                ">>beleg_id_4"
                            )
                        )
                    )
                )
                (Sequence
                    (token__
                        (RegExp
                            ","
                        )
                        (wsp__
                            ""
                            "        "
                        )
                    )
                    (SWVariante
                        (Schreibweise
                            (token__
                                (RegExp
                                    "fezdregl(a)"
                                )
                            )
                        )
                        (token__
                            (RegExp
                                ":"
                            )
                            (wsp__
                                "  "
                            )
                        )
                        (Verweis
                            (RegExp
                                ">>beleg_id5"
                            )
                            (wsp__
                                ""
                                ""
                                ""
                            )
                        )
                    )
                )
            )
        )
    )
    (BedeutungsPosition
        (Sequence
            (token__
                (RegExp
                    "BEDEUTUNG"
                )
                (wsp__
                    ""
                    ""
                    ""
                )
            )
            (Bedeutung
                (Alternative
                    (Interpretamente
                        (LateinischeBedeutung
                            (token__
                                (RegExp
                                    "LAT"
                                )
                                (wsp__
                                    " "
                                )
                            )
                            (RE
                                (RegExp
                                    "pannus, faciale, sudarium"
                                )
                                (wsp__
                                    ""
                                    ""
                                )
                            )
                        )
                        (DeutscheBedeutung
                            (token__
                                (RegExp
                                    "DEU"
                                )
                                (wsp__
                                    " "
                                )
                            )
                            (RE
                                (RegExp
                                    "Gesichts-, Schweißtuch [usu liturg.; de re v. p. 32, 63]"
                                )
                                (wsp__
                                    ""
                                    ""
                                    ""
                                )
                            )
                        )
                    )
                )
                (Optional
                    (Belege
                        (token__
                            (RegExp
                                "BELEGE"
                            )
                            (wsp__
                                ""
                                ""
                            )
                        )
                        (ZeroOrMore
                            (Sequence
                                (token__
                                    (RegExp
                                        "*"
                                    )
                                    (wsp__
                                        " "
                                    )
                                )
                                (EinBeleg
                                    (OneOrMore
                                        (Sequence
                                            (RE
                                                (RegExp
                                                    "Catal. thes. Germ. 28,11 (post 851) -um III."
                                                )
                                            )
                                        )
                                    )
                                )
                            )
                            (Sequence
                                (token__
                                    (wsp__
                                        ""
                                        ""
                                    )
                                    (RegExp
                                        "*"
                                    )
                                    (wsp__
                                        " "
                                    )
                                )
                                (EinBeleg
                                    (OneOrMore
                                        (Sequence
                                            (RE
                                                (RegExp
                                                    'Form. Sangall. 39 p. 421,16 "munuscula ... direximus, hoc est palliolum ... ,'
                                                )
                                            )
                                        )
                                        (Sequence
                                            (RE
                                                (RegExp
                                                    ""
                                                    '  -as duas."'
                                                )
                                            )
                                        )
                                    )
                                )
                            )
                            (Sequence
                                (token__
                                    (wsp__
                                        ""
                                        ""
                                    )
                                    (RegExp
                                        "*"
                                    )
                                    (wsp__
                                        " "
                                    )
                                )
                                (EinBeleg
                                    (OneOrMore
                                        (Sequence
                                            (RE
                                                (RegExp
                                                    'Catal.  thes. Germ. 18,7 "-eterculi  viginti  quatuor".'
                                                )
                                            )
                                        )
                                    )
                                )
                            )
                            (Sequence
                                (token__
                                    (wsp__
                                        ""
                                        ""
                                    )
                                    (RegExp
                                        "*"
                                    )
                                    (wsp__
                                        " "
                                    )
                                )
                                (EinBeleg
                                    (OneOrMore
                                        (Sequence
                                            (RE
                                                (RegExp
                                                    'Libri  confrat.  I  app. A  6  p.  137,30 "pulpitum  ...  -a  cocco imaginata'
                                                )
                                            )
                                        )
                                        (Sequence
                                            (RE
                                                (RegExp
                                                    ""
                                                    '  circumdari  iussit  pontifex."'
                                                )
                                            )
                                        )
                                    )
                                )
                            )
                            (Sequence
                                (token__
                                    (wsp__
                                        ""
                                        ""
                                    )
                                    (RegExp
                                        "*"
                                    )
                                    (wsp__
                                        " "
                                    )
                                )
                                (EinBeleg
                                    (OneOrMore
                                        (Sequence
                                            (RE
                                                (RegExp
                                                    "Catal. thes. Germ. 76,15 -rulae II. 40,5 VI vizregule. 129a,5 -sterculas"
                                                )
                                            )
                                        )
                                        (Sequence
                                            (RE
                                                (RegExp
                                                    ""
                                                    "  II. 24,8  -itella X. 114,8 VIII  fezdregle.  6,24  fasciutercule"
                                                )
                                            )
                                        )
                                        (Sequence
                                            (RE
                                                (RegExp
                                                    ""
                                                    "  VII. 92,6 fascercule tres. 21,20 IIII festregele."
                                                )
                                            )
                                        )
                                    )
                                    (Optional
                                        (Zusatz
                                            (token__
                                                (wsp__
                                                    ""
                                                    "  "
                                                )
                                                (RegExp
                                                    "ZUSATZ"
                                                )
                                                (wsp__
                                                    " "
                                                )
                                            )
                                            (RE
                                                (RegExp
                                                    "saepe."
                                                )
                                            )
                                        )
                                    )
                                )
                            )
                        )
                    )
                )
            )
        )
        (Sequence
            (token__
                (wsp__
                    ""
                    ""
                    ""
                    ""
                )
                (RegExp
                    "BEDEUTUNG"
                )
                (wsp__
                    ""
                    ""
                    ""
                )
            )
            (Bedeutung
                (Alternative
                    (Interpretamente
                        (LateinischeBedeutung
                            (token__
                                (RegExp
                                    "LAT"
                                )
                                (wsp__
                                    " "
                                )
                            )
                            (RE
                                (RegExp
                                    "capital, rica"
                                )
                                (wsp__
                                    ""
                                    ""
                                )
                            )
                        )
                        (DeutscheBedeutung
                            (token__
                                (RegExp
                                    "DEU"
                                )
                                (wsp__
                                    " "
                                )
                            )
                            (RE
                                (RegExp
                                    "Kopftuch"
                                )
                                (wsp__
                                    ""
                                    ""
                                    ""
                                )
                            )
                        )
                    )
                )
                (Optional
                    (Belege
                        (token__
                            (RegExp
                                "BELEGE"
                            )
                            (wsp__
                                ""
                                ""
                            )
                        )
                        (ZeroOrMore
                            (Sequence
                                (token__
                                    (RegExp
                                        "*"
                                    )
                                    (wsp__
                                        " "
                                    )
                                )
                                (EinBeleg
                                    (OneOrMore
                                        (Sequence
                                            (RE
                                                (RegExp
                                                    "Transl. Libor.  I 32  raptis  feminarum -is  (fa[s]citergiis  var.  l.)."
                                                )
                                            )
                                        )
                                    )
                                )
                            )
                            (Sequence
                                (token__
                                    (wsp__
                                        ""
                                        ""
                                    )
                                    (RegExp
                                        "*"
                                    )
                                    (wsp__
                                        " "
                                    )
                                )
                                (EinBeleg
                                    (OneOrMore
                                        (Sequence
                                            (RE
                                                (RegExp
                                                    "II  20  nuditatem  membrorum  illius (puellae)  tegere  festinarunt  fideles"
                                                )
                                            )
                                        )
                                        (Sequence
                                            (RE
                                                (RegExp
                                                    ""
                                                    "  clerici et  laici  inprimis cum eorum -cula, dein vestibus solitis."
                                                )
                                            )
                                        )
                                    )
                                )
                            )
                        )
                    )
                )
            )
        )
    )
    (Autorinfo
        (Alternative
            (token__
                (wsp__
                    ""
                    ""
                    ""
                    ""
                )
                (RegExp
                    "AUTORIN"
                )
                (wsp__
                    " "
                )
            )
        )
        (Name
            (WORT
                (RegExp
                    "Weber"
                )
                (wsp__
                    ""
                    ""
                )
            )
        )
    )
    (Optional
        (LEER)
    )
)